# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Python generated results
results/
figures/
*.csv
*.mp4
*.avi

# Fortran build files
*.o
*.mod
*.MOD
*.out
*.exe

# Fortran backup files
*~

# Fortran generated results
fortran_solver/results/*
fortran_solver/ibm2d.out

# Keep results folder
!fortran_solver/results/.gitkeep

# Uploaded archive no longer needed
ibm2d_minimal_working_example.tar.gz

# OS files
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/
fortran_solver/targetPos/targetPos.dat
